.updateform{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100vh;
    overflow: scroll;
    background: rgba(255, 255, 255, 0.56);
    backdrop-filter: blur(12px);
    display: flex;
    justify-content: center;
    padding: 5rem 15rem;
    padding-bottom: 5rem;
}
.update_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 15rem;
}
.update_btn{
    margin-bottom: 5rem;
}